unmailboxes *
source "~/.mutt/com.gmail/secrets"
set imap_user = 'netsamir@gmail.com'
set smtp_url = "smtp://$imap_user:$smtp_pass@smtp.gmail.com:587/"

set from = 'netsamir@gmail.com'
set realname = 'Samir Sadek'
set hostname = "gmail.com"

set folder="imaps://imap.gmail.com"
set spoolfile="imaps://imap.gmail.com/INBOX"
set record="imaps://imap.gmail.com/[Gmail]/Sent Mail"
set postponed="imaps://imap.gmail.com/[Gmail]/Drafts"
set trash="imaps://imap.gmail.com/[Gmail]/Trash"

mailboxes +INBOX +Archives "+[Gmail]/Sent Mail" "+[Gmail]/Drafts" "+[Gmail]/Trash" "+[Gmail]/Spam" "+[Gmail]/Important"


set header_cache = "~/.mutt/com.gmail/cache/headers"
set message_cachedir = "~/.mutt/com.gmail/cache/bodies"
set certificate_file = "~/.mutt/com.gmail/certificates"

# Gmail-style keyboard shortcuts
macro index,pager ga "<change-folder>=[Gmail]/All<tab><enter>" "Go to all mail"
macro index,pager gi "<change-folder>=INBOX<enter>" "Go to inbox"
macro index,pager gs "<change-folder>=[Gmail]/Starred<enter>" "Go to starred messages"
macro index,pager gd "<change-folder>=[Gmail]/Drafts<enter>" "Go to drafts"
macro index,pager e "<enter-command>unset trash\n <delete-message>" "Gmail archive message"
# different from Gmail, but wanted to keep "y" to show folders.
